{% load static }
{% extends 'base/district.html' %}

{% block content %}

<section class="table-section">
    <div class="container">
        <table class="table  text-white">
            <thead>
              <tr>
                <th scope="col">SI No</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">District</th>
                <th scope="col">Availabl no. of beds</th>
              </tr>
            </thead>
            {% for hospitals in hospitals %}
            {% ifequal hospitals.district  'ALAPPUZHA' %}
            <tbody>
              <tr>
                <th scope="row">{{hospitals.id}}</th>
                <td>{{hospitals.name}}</td>
                <td>{{hospitals.district}}</td>
                <td>{{hospitals.beds_available}}</td>
              </tr>
            </tbody>
            {% endifequal %}
            {% endfor %}
          </table>
    </div>
</section>

{% endblock content %}

